<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script type="text/javascript" src="/static/vue.js"></script> 
        <script src="/static/axios.min.js"></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="/static/element-ui-index.css">
        <!-- 引入组件库 -->
        <script src="/static/element-ui-index.js"></script>

        
        <!-- 引入样式 -->
        <link rel="stylesheet" href="/static/vxe-table-index.css">
        <!-- 引入脚本 -->
        <script src="/static/xe-utils.js"></script>
        <script src="/static/vxe-table-index.min.js"></script>
        <script src="/static/linq.min.js"></script>
    <style type="text/css">
        .dataframe  {width:100%;border-collapse:collapse;empty-cells:show;margin-bottom:16px;display:block;overflow:auto;border-spacing:0}
        .dataframe  tr{background-color:#fff;border-top:1px solid #c6cbd1}
        .dataframe  td,.vditor-reset table th{padding:6px 13px;border:1px solid #dfe2e5;word-break:keep-all}
        .dataframe  th{font-weight:600;word-break:keep-all}.dataframe tbody tr:nth-child(2n){background-color:#f6f8fa}   
        .el-tabs__new-tab {background-color: #42b142;}
        .vxe-radio{background-color: #42b142;}
    </style>

    <STYLE type="text/css">
      .el-header, .el-footer {background-color: #B3C0D1;color: #333;text-align: center;}
      .el-aside {background-color: #D3DCE6;color: #333;text-align: center;}
      .el-main {background-color: #E9EEF3;color: #333;text-align: center;}
      .el-row { margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #ebeef1;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  .vxe-table .vxe-header--column:not(.col--ellipsis) {
    padding: 1px 0;
}
.vxe-table.vxe-editable .vxe-body--column {
    height: 28px;
}
.el-tabs__header {
    padding: 0;
    position: relative;
    margin: 0 0 1px;
}
      body > .el-container {margin-bottom: 40px;}
    </STYLE>
    </head>
    <body>
        <div id="app">
        <el-row>
            <el-col :span="1"><div class="grid-content bg-purple-dark">数据来源</div></el-col>
            <el-col :span="22"><div class="grid-content bg-purple-dark">
                    <vxe-grid border resizable height="250" :data.sync="config_data.data_from" :columns="DataFromUrls_tableColumn"
                    @radio-change='url_radio_change()' ref="xGrid_url" 
                    :toolbar="DataUrl_tableToolbar" @toolbar-button-click="url_toolbarButtonClickEvent"
                      :edit-config="{trigger: 'click', mode: 'row', showStatus: true}">
                  </vxe-grid>
            </div></el-col>
          </el-row>
        <el-row>
            <el-col :span="1"><div class="grid-content bg-purple-dark">详细定义</div></el-col>
            <el-col :span="22"><div class="grid-content bg-purple-dark">
                <vxe-grid border resizable height="250" :columns="DataDetail_tableColumn" ref="xGrid_detail"
                :toolbar="DataDetail_tableToolbar" :data.sync='tmp_detail_data' @toolbar-button-click="detail_toolbarButtonClickEvent"
                    :edit-config="{trigger: 'click', mode: 'row', showStatus: true}">
                </vxe-grid>
            </div></el-col>
          </el-row>
            <el-row>
                <el-col :span="1"><div class="grid-content bg-purple-dark">文件管理</div></el-col>
                <el-col :span="6"><div class="grid-content bg-purple-dark">
                    <el-upload class="upload-demo" ref="upload" :data="{'curr_report_id':curr_report_id}" 
                    action="/mg/file/posts" :limit=10
                    :on-preview="file_handlePreview"
                    :on-remove="file_handleRemove"
                    :on-error="file_error"
                    :on-success="file_success"
                    :on-change="file_change"
                    :file-list="fileList"
                    :auto-upload="false">
                    <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                    <el-button style="margin-left: 10px;" size="small" type="success" @click="file_submitUpload">上传到服务器</el-button>
                    <div slot="tip" class="el-upload__tip">只能上传txt/xlxs/html/csv/md文件，且不超过500kb</div>
                  </el-upload>
                </div></el-col>
                  <el-col :span="4"><div class="grid-content bg-purple-dark">--</div></el-col>
                  <el-col :span="5"><div class="grid-content bg-purple-dark">
                    当前ID:  <span v-html="curr_report_id"></span>
                    当前配置的名称或描述:<el-input v-model="report_name" placeholder="请输入内容"></el-input>
                    <br>
                    定时设置<a target="black" href="http://www.bejson.com/othertools/cron/">参考网址</a>：<el-input v-model="cron_str" placeholder=""></el-input>
                    启动定时：
                    <el-switch v-model="cron_start" active-text="启动" inactive-text="关闭" :active-value=1 :inactive-value=0> </el-switch>
                </div></el-col>
                <el-col :span="1">.</el-col>
                <el-col :span="5"><div class="grid-content bg-purple-dark">
  
                  <br><el-button size="med" type="primary" @click="form_set">参数设置</el-button>
                  <el-button size="med" type="primary" @click="look_config">查看设置</el-button>                              
                  <el-button size="med" type="primary" @click="save_config">保存</el-button>                   
                  <br><br><el-button  size="med" type="success" @click="open_template_output">模板输出动作设置</el-button>  
                  <el-button size="med" type="primary" @click="files_template_exec">按模板生成</el-button>
              </div></el-col>
          </el-row> 

        
              <el-dialog :visible.sync="result_visible" title="结果" :close-on-click-modal='false'>
                <div v-html='result'></div>
              </el-dialog>

              <el-dialog :visible.sync="columns_name_visible" title="选择显示列" :close-on-click-modal='false'>
                  <el-checkbox-group v-model="checkedColumns">
                      <el-checkbox v-for="col in columns_name" :label="col" :key="col">{{col}}</el-checkbox>
                    </el-checkbox-group>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="columns_name_visible = false">取 消</el-button>
                        <el-button type="primary" @click="columns_name_dialog_submit">确 定</el-button>
                      </div>
                </el-dialog>
                <el-dialog :visible.sync="append_data_visible" title="合并其他数据" :close-on-click-modal='false'>
                  <vxe-grid border resizable height="200" :columns="append_data_tableColumn" ref="xGrid_append_data"
                  :toolbar="append_data_Toolbar" :data.sync='tmp_append_data' @toolbar-button-click="append_data_toolbarButtonClickEvent"
                      :edit-config="{trigger: 'click', mode: 'row', showStatus: true}">
                  </vxe-grid>
                  <b>备份22时05分</b>  取历史备份数据，严格按照这个格式写，只需要替换对应的时和分就可以。程序在指定时间执行的时候，会备份当时该数据。任何时候取数
                  都会去取前一天的这个数据，然后按第一列为关键字合并到一起<br>
                <b>group.csv</b> 从csv文件中取数<br>
                <b>b</b>  其他文字，按数据源取数<br>
                  合并数据时，以当前表为主表，将附加表附加到当前主表上，如果没有数据，将设置为0
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="append_data_visible = false">取 消</el-button>
                        <el-button type="primary" @click="append_data_dialog_submit">确 定</el-button>
                      </div>
                </el-dialog>
  
                
              <el-dialog :visible.sync="files_template_exec_result_visilbe" title="按模板生成的结果" :close-on-click-modal='false'>
                  <template>
                    <el-table :data="files_template_exec_result" style="width: 100%">
                      <el-table-column prop="name" label="文件名" width="180"> </el-table-column>
                      <el-table-column prop="message" label="信息" width="180"> </el-table-column>
                      <el-table-column label="操作">
                          <template slot-scope="scope">
                            <span v-if="scope.row.url!=''">
                              <el-button size="mini" @click="file_handlePreview(scope.row)">下载</el-button>
                            </span>
                          </template>
                        </el-table-column>
                    </el-table>
                  </template>
                  <div slot="footer" class="dialog-footer">
                      <el-button @click="files_template_exec_result_visilbe = false">关闭</el-button>
                  </div>
              </el-dialog>
              
              <el-dialog :visible.sync="text_visible" :title="text_title" :close-on-click-modal='false'>
                <vxe-textarea v-model='tmp_text' rows=20 :close-on-click-modal='false'></vxe-textarea>
                <div slot="footer" class="dialog-footer">
                  <el-button @click="text_visible = false">取 消</el-button>
                  <el-button type="primary" @click="tmp_text_dialog_submit">确 定</el-button>
                </div>
              </el-dialog>

              <el-dialog  :visible.sync="form_input_visible" :title="form_input_title" :close-on-click-modal='false'>
                <vxe-grid border resizable height="230" :columns="form_input_tableColumn" ref="xGrid_form_input_old"
                :toolbar="form_input_tableToolbar" @toolbar-button-click="form_input_toolbarButtonClickEvent"
                :data.sync='old_form_input' :edit-config="{trigger: 'click', mode: 'row', showStatus: true}">
               </vxe-grid>
               <vxe-grid border resizable height="230" :columns="form_input_tableColumn" ref="xGrid_form_input_new"
               :data.sync='new_form_input' :edit-config="{trigger: 'click', mode: 'row', showStatus: true}">
              </vxe-grid>
               <div slot="footer" class="dialog-footer">
                <el-button @click="form_input_visible = false">取 消</el-button>
                <el-button type="primary" @click="form_input_dialog_submit">确 定</el-button>
              </div>
              </el-dialog>

              <el-dialog  :visible.sync="template_output_visible" title="模板输出生成" :close-on-click-modal='false'>
                <vxe-grid border resizable height="230" :columns="template_output_tableColumn" ref="xGrid_template_output"
                :toolbar="template_output_tableToolbar" @toolbar-button-click="template_output_toolbarButtonClickEvent"
                :data.sync='template_output' :edit-config="{trigger: 'click', mode: 'row', showStatus: true}">
               </vxe-grid>
 
               <div slot="footer" class="dialog-footer">
                <el-button @click="template_output_visible = false">取 消</el-button>
                <el-button type="primary" @click="template_output_dialog_submit">确 定</el-button>
              </div>
              </el-dialog>

        </div>
    </body>
</html>
<script type="text/javascript" src="/static/edit_template_config.js"></script> 
<script type="text/javascript">
  url_prefix="{{url_prefix }}"
 

  app.$data.curr_report_id={{ report_id }}
  if (app.$data.curr_report_id!=0){
    axios.get(url_prefix+'/ReportDefine/get/'+app.$data.curr_report_id).then(function(response){
      app.$data.config_data=JSON.parse(response.data.config_txt)
      app.$data.fileList=response.data.fileList
      app.$data.report_name=response.data.report_name
      app.$data.cron_str=response.data.cron_str
      app.$data.cron_start=response.data.cron_start
      app.$data.text_template=response.data.text_template
      if(window.parent && window.parent.app){
        let tabs = window.parent.app.$data.editableTabs;
        tabs.filter(tab => tab.name === window.parent.app.$data.editableTabsValue)[0].title=app.$data.report_name
      }
        
    }); 
  }
</script> 
