<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script type="text/javascript" src="/static/vue.js"></script> 
        <script src="/static/axios.min.js"></script>     
        <!-- 引入样式 -->
        <link rel="stylesheet" href="/static/element-ui-index.css">
        <!-- 引入组件库 -->
        <script src="/static/element-ui-index.js"></script>

        <!-- 引入样式 -->
        <link rel="stylesheet" href="/static/vxe-table-index.css">
        <!-- 引入脚本 -->
        <script src="/static/xe-utils.js"></script>
        <script src="/static/vxe-table-index.min.js"></script>
        <script src="/static/linq.min.js"></script>
        <style type="text/css">
            .el-tabs__new-tab {background-color: #42b142;}
            .dataframe  {width:100%;border-collapse:collapse;empty-cells:show;margin-bottom:16px;display:block;overflow:auto;border-spacing:0}
            .dataframe  tr{background-color:#fff;border-top:1px solid #c6cbd1}
            .dataframe  td,.vditor-reset table th{padding:6px 13px;border:1px solid #dfe2e5;word-break:normal}
            .dataframe  th{font-weight:600}.dataframe tbody tr:nth-child(2n){background-color:#f6f8fa}            
        </style>
    
        <STYLE type="text/css">
      .el-header, .el-footer {background-color: #B3C0D1;color: #333;text-align: center;}
      .el-aside {background-color: #D3DCE6;color: #333;text-align: center;}
      .el-main {background-color: #E9EEF3;color: #333;text-align: center;}
      body > .el-container {margin-bottom: 40px;}
      .el-form-item {margin-bottom: 4px;}
      .el-tabs__item.is-active {background-color: rgb(119, 221, 141);color: rgb(83, 65, 65);}
      .el-tabs__header {
    padding: 0;
    position: relative;
    margin: 0 0 1px;
}
    </STYLE>
    </head>
    <body >
        
        <div id="app" >    
         
            <input name="rpt_id" v-model="query_form.rpt_id" type="hidden" value="1"></input>
           活动名称                <input name="branch_no" v-model="query_form.branch_no" ></input>
          活动时间  <el-date-picker type="date" placeholder="选择日期" v-model="query_form.b_date" 
          name="b_date"
          style="width: 100%;"></el-date-picker>
        <el-date-picker type="date" placeholder="选择日期" v-model="query_form.e_date"name="e_date" style="width: 100%;"></el-date-picker>

        <button type="primary" @click="queryData">查询</button>
        <vxe-toolbar custom :export="tableExport">
            <template v-slot:buttons>
              <vxe-button @click="exportDataEvent">导出数据</vxe-button>
            </template>
          </vxe-toolbar>
        <vxe-table border resizable show-overflow ref="xTable"  :export-config="tableExport"
            show-footer :footer-method="footerMethod" :footer-cell-class-name="footerCellClassName"
            :sort-config="{trigger: 'cell'}" :loading="loading" height="400" >
            <vxe-table-column v-for="(item,index) in columns" :key="index" :field="item" :title="item" sortable ></vxe-table-column>
        </vxe-table>          
        </div>
    </body>
</html>
<script type="text/javascript">
    None=null;
    function Decimal(a){
        return Number(a);
    }
    url_prefix="{{url_prefix}}"
    query_result={{ t_json |safe}}
    var app = new Vue({
    el: '#app',
    data:{
        loading: false,
        query_form:{
            branch_no:'{{param['branch_no']}}',
            rpt_id:{{param['rpt_id']}},
            b_date:'{{param['b_date']}}',
            e_date:'{{param['e_date']}}'
        },
        columns:[],
        message:'',
        editableTabsValue: 'welcome',
        editableTabs: [
            { title: '欢迎使用',name: 'welcome',closable:false, content: 'xxxx' }
          ],
        tabIndex: 2,
        tableExport: {
                // 默认选中类型
                type: 'xlsx',
                // 自定义类型
                types: ['xlsx', 'csv', 'html', 'xml', 'txt']
              }
      },
      delimiters:['${', '}'],
      created () {

          },
      methods: {// this.$refs.query_form.action
        footerCellClassName ({ $rowIndex, column, columnIndex }) {
                  return 'col-red'
            },
        footerMethod ({ columns, data }) {
            const others = []
            var eval_str=""
            var col_pos={}
            const rpt_content=query_result.rpt_define.rpt_content
            columns.forEach((column, columnIndex) => {
                col_pos[column.property]=columnIndex
                if (columnIndex === 0) {
                  others.push('汇总')
                } else {
                  let meanCell = null
                  let sumCell = null
                  let otherCell = '-'
                  var juhe_type=Enumerable.From(rpt_content).Where(x=>x.name==column.property && x.juhe_type).Select(x=>x.juhe_type).ToArray()[0]
                  switch (juhe_type) {
                    case 'avg':
                        otherCell = (XEUtils.mean(data, column.property))
                      break
                    case 'sum':
                        otherCell = (XEUtils.sum(data, column.property))
                      break
                    case 'max':
                        otherCell = XEUtils.max(data, column.property)
                        if(otherCell!=undefined)
                            otherCell=otherCell[column.property]
                        break
                  }
                  others.push(otherCell)
                  eval_str+="var "+ column.property+"="                   
                  if (typeof(otherCell)=="string")
                    eval_str+="'" + otherCell +"'\n"
                  else
                    eval_str+= otherCell +"\n"
                }
              })
            Enumerable.From(rpt_content).Where(x=>x.type=='calc').ForEach(function(x){
                var result=eval("(function(){" + eval_str+" return "+x.formula +"})()")
                if(typeof(result)=='number')
                    result=result.toFixed(2)
                others[col_pos[x.name]]=result
            })
            
            // 返回一个二维数组的表尾合计
            return [others ]            
        },
        exportDataEvent () {
            this.$refs.xTable.exportData({
            filename: '导出',
            sheetName: 'Sheet1',
            type: 'xlsx'
            })
        },
        queryData(){
            this.loading = true
            old_this=this
            axios.post(document.location.href,this.query_form)
            .then(function(response){
                if(response.data.errcode==0){
                    old_this.columns=response.data.data.columns
                    old_this.$refs.xTable.reloadData(response.data.data.data)
                    old_this.loading = false                    
                }
                else
                    old_this.message=response.data.errmsg
            })            
        }
    }
});
</script>